<div class="grid" id="stream">
	<% @messages.each do |message| %>
		<div class="row-fluid show-grid">
			<div class="span16">
				<% if message.image_url %>
					<strong><%= message.username %>:</strong><br>
					<img src="<%= message.image_url %>" width='400'/>
				<% else %>
					<strong><%= message.username %>:</strong> <%= message.message %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	var diff, i, BR, length;
	BR = {};
	BR["count"] = <%= Message.count %>;
	setInterval(
		function () {
			$.getJSON("/items", function(data){
				length = data['json'].length;
				if (length > BR["count"]) {
					for (i = 0; i < length - BR["count"]; i++){
						if (data['json'][i]['image_url']) {
							$("#stream").prepend($("<div class='row-fluid show-grid' id='new'><div class='span16'><strong>"+data['json'][i]['username']+"</strong><br><img width='400' src='"+data['json'][i]['image_url']+"'/></div></div>"));
						} else if (data['json'][i]['message']){
							$("#stream").prepend($("<div class='row-fluid show-grid' id='new'><div class='span16'><strong>"+data['json'][i]['username']+"</strong>: "+data['json'][i]['message']+"</div></div>"));
						}

						$("#new").show(1500, function(){$("#new").removeAttr('id') });
					}
					BR["count"] = data['json'].length;
				}
			});
		}, 4000);
</script>
<style type="text/css">
	#new {display:none;}
</style>